

<body>
  <div id="home">
    {{#if uid}}
    <div id="panel">
      <p class="text">Game ID:</p>
      <button type="button" class="button is-fullwidth panel-item">{{ uid }}</button>
      <p class="text">Your opponent can use this ID to join the game</p>
      <a href="http://localhost:3000/playgame/{{ uid }}/{{ choice }}" <button type="button" class="button is-fullwidth panel-item">Play Bagh Chal</button></a>
    </div>
    {{else if join}}
    <div id="panel">
      <form action="http://localhost:3000/joingame" method="POST">
        <label class="text" for="id">Enter your game id below:</label>
        <input class="input" type="text" id="id" name="id"><br><br>
        <button type="submit" class="button is-fullwidth panel-item">Play Bagh Chal</button>
      </form>
    {{else}}
    <div id="panel">
      <form action="http://localhost:3000/getnewid" method="POST">
        <p class="text">Play as:</p>
        <label class="radio text" for="tiger">
        <input type="radio" id="tiger" name="choose-player" value="tiger" checked>
        Tiger
        </label>
        <label class="radio text" for="goat">
        <input type="radio" id="goat" name="choose-player" value="goat">
        Goat
      </label>
      <a> <button type="submit" class="button is-fullwidth panel-item">Start New Game</button> </a>
      </form>
        <p class="text">OR</p>
      <div>
      <a href="http://localhost:3000/join"> <button type="button" class="button is-fullwidth panel-item">Join Existing Game</button> </a>
      </div>
  </div>
  {{/if}}
</body>`

